<div class="card-body">
  	<div class="breadcrumb">
  		<span class="rotulo">Experiencia profesional y otros datos</span>
	</div>  
  	<div class="breadcrumb secondary-bread">
  		<span class="rotulo-second">PORTFOLIO<span style="color: brown;">SOBRE MÍ</span></span>
  		<div style="float: right; width: 100%; margin-top: 30px;">
  			<img src="assets/images/foto-personal.jpg" alt="foto-personal" style="height: 150px; width: 150px; border-radius: 8px;"> 
  		</div>
	</div>  
	<div class="container-info-text-about" *ngIf="vardatos$ | async as vardatos">
    {{vardatos[0].aboutVar}}<br>
    {{vardatos[0].aboutVar2}}<br>
    {{vardatos[0].aboutVar3}}<br>
    {{vardatos[0].aboutVar4}}<br>
    {{vardatos[0].aboutVar5}}<br>
    {{vardatos[0].aboutVar6}}<br>
	</div>			
</div>