<div class="card-body">
  	<div class="breadcrumb">
  		<span class="rotulo">Contacto</span>
	</div>  
  	<div class="breadcrumb secondary-bread">
  		<span class="rotulo-second">PORTFOLIO<span style="color: brown;">CONTACTO</span></span>
	</div>  
	<div class="container-info-text">
		<span style="font-weight: bold;">TELÉFONO: </span> <span *ngIf="vardatos$ | async as vardatos">{{vardatos[0].telefonoVar}}</span>
		<br><br>
		<span style="font-weight: bold;">EMAIL: </span> <span *ngIf="vardatos$ | async as vardatos">{{vardatos[0].emailVar}}</span>
	</div>			
</div>
