
<div class="card-body">
  	<div class="breadcrumb">
  		<span class="rotulo">Desarrollo web</span>
	</div>  
  	<div class="breadcrumb secondary-bread">
  		<span class="rotulo-second">PORTFOLIO<span style="color: brown;">SERVICIOS</span></span>
	</div>  
	<div class="container-info-text-about">
	Me dedico principalmente al desarrollo web. He desarrollado tanto webs clásicas (PHP MySQL), como reactivas (Single Page Aplication). He trabajado con los frameworks Symfony 3, Laravel, Zend y Angular. Y los sistemas de control de versiones Git y Subversion.<br>


	</div>			
</div>

