<div class="card-body" *ngIf="posts$ | async as post; else">
  	<div class="breadcrumb">
  		<span class="rotulo">{{post.titlePost}}</span>
	</div>  
  	<div class="breadcrumb secondary-bread">
  		<span class="rotulo-second">PORTOFOLIO/FICHA<span style="color: brown;">{{post.titlePost}}</span></span>
	</div>  
	<div class="container-info-text">
		{{post.contentPost}}
	</div>		
	<img src="{{post.imageMultiPost}}" alt="multiscreen" style="height: 200px; width: 300px;"> 
	<div class="container-link">
	  		<button type="button" class="btn btn-primary btn-sm" id="specific-web"><a style="color: #fff;" (click)="goToExternalLink(post.webUrl);">VISITAR SITIO WEB</a></button>
	</div>
</div>