.btn-primary{
	background-color: brown;
	border-radius: 0px;
	border-color: #fff;
	box-shadow: 0px 0px #fff;

}

.btn-primary:hover{
	background-color: #b55;
	border-radius: 0px;
	border-color: #fff;
	box-shadow: 0px 0px #fff;

}
.container-link{
	margin-top: -150px;
	text-align: center;
}